<div class="container body-content">
    <div ng-if="!blogsCtrl.addNew && !blogsCtrl.viewPost">
        <div class="row">
            <div class="col-xs-10">
                <div class="input-group">
                    <input type="text" class="form-control input-sm btn-rounded" placeholder="Search" ng-model="blogsCtrl.search">
                    <span class="input-group-btn">
                          <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
                        </span>
                </div>
            </div>
            <div class="col-xs-2 text-right"><a ng-if="blogsCtrl.currentUser" class="btn" tooltip-placement="left" uib-tooltip="Add new blog" ng-click="blogsCtrl.AddNew()"><i class="fa fa-plus-circle fa-large" aria-hidden="true"></i> Add</a></div>
        </div>
        <div class="row">
            <ul class="post-grid">
                <li ng-repeat="post in blogsCtrl.blogs | filter :blogsCtrl.search" class="col-md-4" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="blogsCtrl.ViewPost(post)" >
                    <div class="blog-container">
                        <h3>{{post.blog_title}}</h3>
                        <p class="blog-post-summary" ng-bind-html="post.blog_post"></p>
                        <p class="blog-post-summary-buttons">
                            <span class="pull-left"><i class="fa fa-comments" aria-hidden="true"></i></span>
                            <span class="pull-right"><i class="btn fa fa-thumbs-down" aria-hidden="true"></i></span>
                            <span class="pull-right"><i class="btn fa fa-thumbs-up" aria-hidden="true"></i></span></span>
                        </p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <div ng-if="blogsCtrl.viewPost && !blogsCtrl.editPost">
        <div class="row">
            <div class="col-xs-6">
                <a ng-click="blogsCtrl.AllPosts()">All posts</a>
            </div>
            <div class="col-xs-6 text-right">
                <a ng-click="blogsCtrl.EditPost()">Edit Post</a>
            </div>
        </div>
        <div class="blog-container">
            <h3>{{blogsCtrl.current_post.blog_title}}</h3>
            <p class="blog-post" ng-bind-html="blogsCtrl.current_post.blog_post"></p>
            <p class="blog-post-summary-buttons">
                <span class="pull-left"><i class="fa fa-comments" aria-hidden="true" ng-click = 'blogsCtrl.Comment()' id="comment button"></i></span>
                <span class="pull-right"><i class="btn fa fa-thumbs-down" aria-hidden="true"></i></span>
                <span class="pull-right"><i class="btn fa fa-thumbs-up" aria-hidden="true"></i></span></i></span>
            </p>
        </div>
        <br>
        <div ng-if="blogsCtrl.current_post.hasComment" class="comment-container">
            <h5>User comments</h5>
            <div>
                <h4>{{blogsCtrl.current_post.comment.comment_title}}</h4>
                <p> author: {{blogsCtrl.current_post.comment.author.email}}</p>
                <p class="comment-post" ng-bind-html="blogsCtrl.current_post.comment.comment_post"></p>
            </div>
        </div>
    </div>

    <div ng-if="blogsCtrl.leaveComment">
        <h4>Comment</h4>
        <div class="well">
            <form name="inputform">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" ng-model="blogsCtrl.comment.comment_title" class="form-control" placeholder="Title" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Post</label>
                            <div text-angular ng-model="blogsCtrl.comment.comment_post" class="btn-groups"></div>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-primary" ng-click="blogsCtrl.SaveComment()" ng-disabled="inputform.$invalid">Save Comment</a>&nbsp;&nbsp;
                        <a class="btn btn-default" ng-click="blogsCtrl.Cancel()">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-if="blogsCtrl.editPost">
        <h4>Edit Post</h4>
        <div class="well">
            <form name="inputform">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" ng-model="blogsCtrl.current_post.blog_title" class="form-control" placeholder="Title" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Post</label>
                            <div text-angular ng-model="blogsCtrl.current_post.blog_post" class="btn-groups"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Category</label>
                            <ui-select ng-model="blogsCtrl.current_post.categories" theme="bootstrap" multiple>
                                <ui-select-match placeholder="Select or search a category in the list...">
                                    {{$item.category_name}}
                                </ui-select-match>
                                <ui-select-choices repeat="category.$id as category in blogsCtrl.categories | filter: $select.search">
                                    <div ng-bind-html="category.category_name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-primary" ng-click="blogsCtrl.SaveChange()" ng-disabled="inputform.$invalid">Save Change</a>&nbsp;&nbsp;
                        <a class="btn btn-default" ng-click="blogsCtrl.Cancel()">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-if="blogsCtrl.addNew">
        <h4>Add New Post</h4>
        <div class="well">
            <form name="inputform">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" ng-model="blogsCtrl.newpost.blog_title" class="form-control" placeholder="Title" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Post</label>
                            <div text-angular ng-model="blogsCtrl.newpost.blog_post" class="btn-groups"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Category</label>
                            <ui-select ng-model="blogsCtrl.newpost.categories" theme="bootstrap" multiple>
                                <ui-select-match placeholder="Select or search a category in the list...">
                                    {{$item.category_name}}
                                </ui-select-match>
                                <ui-select-choices repeat="category.$id as category in blogsCtrl.categories | filter: $select.search">
                                    <div ng-bind-html="category.category_name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-primary" ng-click="blogsCtrl.Save()" ng-disabled="inputform.$invalid">Post</a>&nbsp;&nbsp;
                        <a class="btn btn-default" ng-click="blogsCtrl.Cancel()">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>