<div ng-controller='HeaderController as headerCtrl'>
    <nav class="navbar navbar-default navbar-fixed-title">
        <div class="container-fluid navbar-title">
            <ul class="nav nav-pills">
                <li ng-class="{'active': appCtrl.AppService.active == 'home'}"><a ui-sref="home" class="nav-pill-item" id="logo-link"><span class="h1 logo-text">Brain Cradle</span><img src="assets/img/temp_logo.png" class="brain-cradle-logo" width="120px" alt=""></a></li>
                <li ng-class="{'active': appCtrl.AppService.active == 'presentations'}"><a ui-sref="presentations" class="nav-pill-item primary-link"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> What's AI?</a></li>
                <li ng-class="{'active': appCtrl.AppService.active == 'projects'}"><a ui-sref="projects" class="nav-pill-item primary-link"><i class="fa fa-cogs" aria-hidden="true"></i> Examples</a></li>
                <li ng-class="{'active': appCtrl.AppService.active == 'blogs'}"><a ui-sref="blogs" class="nav-pill-item primary-link"><i class="fa fa-comments" aria-hidden="true"></i> Blog</a></li>
                <li ng-class="{'active': appCtrl.AppService.active == 'solutions'}"><a ui-sref="solutions" class="nav-pill-item primary-link"><i class="fa fa-file-code-o" aria-hidden="true"></i> Coming Soon</a></li>
            </ul>
        </div>
        <div class="right-menu">
            <a ng-if="headerCtrl.signin" id = "login" ui-sref="login" class="btn" tooltip-placement="left" uib-tooltip="Sign in"><i class="fa fa-sign-in fa-large" aria-hidden="true"></i></a>
            <span ng-if="!headerCtrl.signin">
            <button ng-click = "headerCtrl.signOut()" id = "Logout" class="btn btn-default">Log out</button>
            <ng-avatar style="margin-top: 5px;" string="{{headerCtrl.currentUser.displayName}}" round-shape="true" bg-color="#FF6600" auto-color="false" width="25" style="display: inline-block;"></ng-avatar>
        </span>
        </div>
    </nav>
</div>


