<ul class="nav nav-pills">
    <li ng-class="{'active': active == 'home'}"><a ui-sref="home" class="nav-pill-item" id="logo-link"><span class="h1 logo-text">Brain Cradle</span><img src="assets/img/temp_logo.png" class="brain-cradle-logo" width="120px" alt=""></a></li>
    <li ng-class="{'active': active == 'whats-ai'}"><a ui-sref="presentations" class="nav-pill-item primary-link"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> What's AI?</a></li>
    <li ng-class="{'active': active == 'examples'}"><a ui-sref="projects" class="nav-pill-item primary-link"><i class="fa fa-cogs" aria-hidden="true"></i> Examples</a></li>
    <li ng-class="{'active': active == 'blogs'}"><a ui-sref="blogs" class="nav-pill-item primary-link"><i class="fa fa-comments" aria-hidden="true"></i> Blog</a></li>
    <li ng-class="{'active': active == 'coming-soon'}"><a ui-sref="solutions" class="nav-pill-item primary-link"><i class="fa fa-file-code-o" aria-hidden="true"></i> Coming Soon</a></li>
</ul>
