<ul class="nav nav-pills">
    <li ng-class="{'active': active == 'home'}"><a ui-sref="home" class="nav-pill-item"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li ng-class="{'active': active == 'blogs'}"><a ui-sref="blogs" class="nav-pill-item"><i class="fa fa-comments" aria-hidden="true"></i> Blogs</a></li>
    <li ng-class="{'active': active == 'presentations'}"><a ui-sref="presentations" class="nav-pill-item"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> Presentations</a></li>
    <li ng-class="{'active': active == 'projects'}"><a ui-sref="projects" class="nav-pill-item"><i class="fa fa-cogs" aria-hidden="true"></i> Projects</a></li>
    <li ng-class="{'active': active == 'solutions'}"><a ui-sref="solutions" class="nav-pill-item"><i class="fa fa-file-code-o" aria-hidden="true"></i> Solutions</a></li>
    <li ng-class="{'active': active == 'tutorials'}"><a ui-sref="tutorials" class="nav-pill-item"><i class="fa fa-tasks" aria-hidden="true"></i> Tutorials</a></li>
</ul>