

<div class="container body-content">
    <div ng-if="!projectsCtrl.addNew && !projectsCtrl.viewPost">
        <div class="row">
            <a ng-if="projectsCtrl.currentUser" class="btn" tooltip-placement="left" uib-tooltip="Add new project example" ng-click="projectsCtrl.AddNew()"><i class="fa fa-plus-circle fa-large" aria-hidden="true"></i> Add</a>
        </div>
        <div class="row">
            <ul class="post-grid">
                <li ng-repeat="post in projectsCtrl.projects" class="col-md-4" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="projectsCtrl.ViewPost(post)" >
                    <div class="blog-container">
                        <h3>{{post.project_title}}</h3>
                        <p class="blog-post-summary" ng-bind-html="post.project_post"></p>
                        <p class="blog-post-summary-buttons">
                            <span class="pull-left"><i class="fa fa-comments" aria-hidden="true"></i></span>
                            <span class="pull-right"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                        </p>
                    </div>

                </li>
            </ul>
        </div>
    </div>

    <div ng-if="projectsCtrl.addNew">
        <h4>Add New Example</h4>
        <div class="well">
            <form name="inputform">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" ng-model="projectsCtrl.newpost.project_title" class="form-control" placeholder="Title" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Post</label>
                            <div text-angular ng-model="projectsCtrl.newpost.project_post" class="btn-groups"></div>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-primary" ng-click="projectsCtrl.Save()" ng-disabled="inputform.$invalid">Post</a>&nbsp;&nbsp;
                        <a class="btn btn-default" ng-click="projectsCtrl.Cancel()">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-if="projectsCtrl.viewPost">
        <div class="row">
            <div class="col-xs-6">
                <a ng-click="projectsCtrl.AllPosts()">All posts</a>
            </div>
            <div class="col-xs-6 text-right">
                <a ng-click="projectsCtrl.EditPost()">Edit Posts</a>
            </div>
        </div>
        <div class="blog-container">
            <h3>{{projectsCtrl.current_post.project_title}}</h3>
            <p class="blog-post" ng-bind-html="projectsCtrl.current_post.project_post"></p>
            <p class="blog-post-summary-buttons">
                <span class="pull-left"><i class="fa fa-comments" aria-hidden="true" ng-click = 'projectsCtrl.Comment()' id="comment button"></i></span>
                <span class="pull-right"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
            </p>
        </div>
    </div>
</div>